/* Variable files here */
//$lightgray: #315261;
$lightgray: lightgray;
$lightergray: #eaeaea;
$lightest-gray: #f7f7f8;
$font: 'Roboto', sans-serif;
$font-color: black;
$font-header-color: #939393;
$first-color: blue;
$lightblue: #008FC9;
$hotpink: #EC008B;
$nav-blue: #315261;
$opensans: 'Open Sans', sans-serif;
$opensans-semibold: 'Open Sans', sans-serif;
$mediumgray: #DEE3E5;

