@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
/* Variable files here */
ul {
  float: left;
  width: 100%;
  padding: 0;
  list-style-type: none; }

li {
  float: left;
  width: 25%;
  padding: 0;
  margin: 0;
  border: 10px solid #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

li a {
  display: block;
  width: 100%;
  overflow: hidden; }

h3 {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  color: #fff; }

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  border-radius: 6px;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out; }

#albumsGrid {
  padding: 0;
  margin: 0; }

.album-info {
  width: 240px;
  overflow: hidden; }

#albumsGrid img:hover {
  opacity: 1;
  cursor: pointer; }

#albumsGrid .album-info {
  font-weight: bold;
  color: #000; }

.app__inner-wrapper {
  margin: 0 auto;
  width: 1000px;
  background: white;
  padding: 0px;
  height: 100%;
  display: table; }

.button {
  color: white;
  padding: 10px;
  background: red;
  text-align: center;
  width: 200px;
  height: 80px;
  margin: 0px auto;
  cursor: pointer;
  font-family: "Roboto", sans-serif; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* Target the ie9  and above*/
/* Target stuff for ie9 and media queries*/
