@import "modules/photos/albums-list/albums-list.component";

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Helvetica Neue', arial, sans-serif;
  padding: 20px;
	// font-size: 100%;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	margin: 0 0 20px;
	text-align: center;
	text-shadow: 1px 1px 0 #fff, 2px 2px 0 #bbb;
}

a:-webkit-any-link{
	text-decoration:none !important;
}
